---
// src/pages/index.astro
import Layout from '../layout/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import Brands from '../components/Brands.astro';
import HowItWorks from '../components/HowItWorks.astro';
import SeparatorImage from '../components/SeparatorImage.astro';
import Features from '../components/Features.astro';
import CallToAction from '../components/CallToAction.astro';
import Footer from '../components/Footer.astro';


---

<Layout title="Tu Auto Fácil - Cotizá tu 0km de forma segura en minutos">
	<!-- Navbar Fija en el tope -->
	<Navbar />
	
	<!-- Portada del Sitio -->
	<main>
		<Hero />
		<Brands />
		<HowItWorks />
		<SeparatorImage />
		<Features />
		<CallToAction />
	</main>
	<Footer />
</Layout>